$white-color: #fff;
$black-color: #000;
$font-color: #fff;
$header__top--color: #f8ebe6;
$background-color: #2f1346;
$font-icon-size: 20px;
$font-size: 16px;
$background-top: #fff1e6;
$logo-size: 40px;

$logo-color: #573ba3;

* {
    margin: 0;
    box-sizing: border-box;
}

i:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.footer {
    z-index: 9;
    margin-top: 100px;
    background-color: $background-color;
    color: $font-color;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.footer__main {
    display: flex;
}

a {
    text-decoration: none;
    color: currentColor;
    &:hover {
        cursor: pointer;
    }
}

.footer__rateAndCirti {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}
.footer__nav a {
    padding: 8px;
}

.rate {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.rate__title {
    padding: 5px;
}
.rate__star i {
    display: block;
}
.rate__star {
    display: flex;
    padding: 5px;
    justify-content: space-around;
}
.rate__number {
    padding: 5px;
}
.cirti {
    border: 5px solid #fff;
    width: 80%;
    height: 30%;
}
.follow {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.footer__followAndPay {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.follow__title {
}
.follow__icon {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: $font-icon-size;
}
.follow__icon i {
}
.pay {
    display: flex;
    flex-direction: column;
}
.pay__title {
    justify-content: center;
    margin: auto;
}
.pay__img {
}

.footer__info {
    display: flex;
    margin: auto;
    margin-top: 15px;
    width: 60%;
    justify-content: space-around;
}
